# -------- Core --------
streamlit==1.45.1
pandas==2.2.1
numpy==1.26.4
matplotlib==3.8.3
seaborn==0.13.2
altair==5.2.0
pillow==10.2.0
tqdm==4.67.1
requests==2.31.0

# -------- Computer Vision / DL --------
torch==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
ultralytics==8.3.144
opencv-python-headless==4.10.0.84

# -------- Misc util --------
gitpython==3.1.42
tenacity==8.2.3
